.menuProduct{
    margin: auto;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
  }
  
  .search-text {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #05386B;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-button {
    width: 100px;
    padding: 10px;
    background-color: #05386B;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  