<div class="navbar">
  <div class="main">
    <div class="content">
      <h1>Welcome to the <br /><span>Plant Store</span> <br />Application</h1>
      <p class="par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque
        expedita atque eveniet <br />
        quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
        <br />
        a quae totam ipsa illum minus laudantium?
      </p>
      <button class="cn"><a href="#">JOIN US</a></button>
      <app-login></app-login>
    </div>
  </div>
</div>
