<div class="navbar">
  <div class="icon">
    <h2 class="logo">ProPlant</h2>
  </div>

  <div class="menu">
    <ul>
      <li><a routerLink="/home">HOME</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/menu">SERVICES</a></li>
      <li>
        <a
          *ngIf="!userService.isUserLoggedIn()"
          routerLink="/home"
          class="nav-link"
          >LOGIN</a
        >
      </li>
      <li>
        <a
          *ngIf="userService.isUserLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >LOGOUT</a
        >
      </li>
    </ul>
  </div>
</div>
