.navbar{
    height: 75px;
    margin: auto;
    background-color: #5CDB95;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #05386B;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 700px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #05386B;
}

.admin {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
}

.search-text {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #05386B;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-button {
    width: 60px;
    background-color: #05386B;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
  }

  .search-button:hover {
      background-color: #0056b3;
  }

.logout-container {
    background-color: #f8d7da;
    color: #721c24;
    text-align: end;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    position: absolute;
    top: 70px;
    right: 0;
}