<div class="navbar">
  <div class="icon">
    <h2 class="logo">ProPlant</h2>
  </div>

  <div class="menu">
    <ul>
      <li><a routerLink="/home">HOME</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/menu">SERVICES</a></li>
      <li>
        <a
          *ngIf="!userService.isUserLoggedIn()"
          routerLink="/home"
          class="nav-link"
          >LOGIN</a
        >
      </li>
      <li>
        <a
          *ngIf="userService.isUserLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >LOGOUT</a
        >
      </li>
      <li>
        <a
          ><button
            class="search-button"
            *ngIf="userService.isUserLoggedIn()"
            (click)="adminCheck()"
          >
            ADMIN
          </button></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <div
          class="logout-container"
          *ngIf="
            this.userService.getLoggedInUser() != 'lion123' &&
            userService.isUserLoggedIn()
          "
        >
          You are not an Admin
        </div>
      </li>
    </ul>
  </div>
</div>
